{{#each category}}
<h1>{{this.name}}</h1>
<p>{{this.image}}</p>
{{/each}}
{{#each products}}
<ul>
    <li><strong>Name: </strong> {{this.name}} </li>
    <li><strong>Description: </strong> {{this.description}}</li>
    <li><strong>Price: </strong> 
   $ {{this.price}}
    <br> {{#each images}} {{#if @first}} Main Image {{this.src}}<br> {{/if}} {{/each}}

    {{#each this.images}} 
    {{this.src}}<br>
    {{/each}}
     </li>
</ul>
{{/each}}

