<h1>Mad Lib</h1>
<p>
My {{ req.query.noun_1 }} will not be repressed. You must allow me to {{ req.query.verb_1 }} you how ardently I {{ req.query.verb_2 }} and love you. In declaring myself thus I`m aware that I will be going expressly against the {{ req.query.noun_plural_1 }} of my family, my {{ req.query.noun_plural_2 }}, and, I hardly need add, my own better judgement. The relative situation of our {{ req.query.noun_plural_3 }} makes any alliance between us a reprehensible connection. As a rational {{ req.query.noun_2 }} I cannot but regard it as such myself, but it cannot be {{ req.query.verb_ending_ed_1 }}. Almost from the {{ req.query.adjective_1 }} moments, I have come to feel for {{ req.query.person_1 }}...

...a {{ req.query.adjective_2 }} admiration and {{ req.query.emotion_1 }}, which despite my struggles, has {{ req.query.verb_ending_ed_2 }} every rational {{ req.query.noun_3 }}. I {{ req.query.verb_3 }} you, most fervently, to {{ req.query.verb_4 }} my suffering and consent to be my {{ req.query.noun_4 }}. In such cases as these, I believe the established mode is to {{ req.query.verb_5 }} a sense of {{ req.query.emotion_2 }}. But I cannot. I have never {{ req.query.verb_ending_ed_3 }} your good {{ req.query.noun_5 }}, and you have certainly bestowed it most {{ req.query.adverb_1 }}. I`m sorry to cause {{ req.query.noun_6 }} to anyone, but it was {{ req.query.adverb_2 }} done, and I hope will be of short {{ req.query.noun_7 }}. And this is all the reply I am to expect? I might wonder why, with so little effort at civility, I am {{ req.query.verb_ending_ed_4 }} .
</p>

{{!-- 
{{ req.query.noun_1 }}
{{ req.query.verb_1 }}
{{ req.query.verb_2 }}
{{ req.query.noun_plural_1 }}
{{ req.query.noun_1 }}
{{ req.query.noun_plural_2 }}
{{ req.query.noun_plural_3 }}
{{ req.query.noun_2 }}
{{ req.query.noun_1 }}
{{ req.query.verb_ending_ed_1 }}
{{ req.query.adjective_1 }}
{{ req.query.person_1 }}
{{ req.query.adjective_2 }}
{{ req.query.emotion_1 }}
{{ req.query.verb_ending_ed_2 }}
{{ req.query.noun_3 }}
{{ req.query.verb_3 }}
{{ req.query.verb_4 }}
{{ req.query.noun_4 }}
{{ req.query.verb_5 }}
{{ req.query.emotion_2 }}
{{ req.query.verb_ending_ed_3 }}
{{ req.query.noun_5 }}
{{ req.query.adverb_1 }}
{{ req.query.noun_6 }}
{{ req.query.adverb_2 }}
{{ req.query.noun_7 }}
{{ req.query.verb_ending_ed_4 }}  --}}
