<table class="table table-success table-striped">
<tr>
    <th>First</th>
    <th>Last</th>
    <th>Email</th>
    <th>Actions</th>
</tr>    
{{#each users}}
<tr>
    <td>{{this.firstname}}</td>
    <td>{{this.lastname}}</td>
    <td>{{this.email}}</td>
    <td>
        <a href="/newsletter/details/{{this.email}}">View Details</a>
        <a href="/newsletter/delete/{{this.email}}">Delete</a>
        </td>    
</tr>
{{/each}}
</table>

