<div class="section-divider"></div>
<h1 class="primary-color-light oswald">{{data.title}}</h1>


{{#if data.services}}
<div class="section-divider" id="services"></div>
<div class="accordion" id="servicesAccordion">
  {{#each data.services}}
  <div class="accordion-item">
    <h2 class="accordion-header montserrat-bold  ">
      <button class="accordion-button collapsed secondary-color-bg primary-color-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{@index}}" aria-expanded="true" aria-controls="collapse_{{@index}}">
        {{this.title}}
      </button>
    </h2>
    <div id="collapse_{{@index}}" class="accordion-collapse collapse" data-bs-parent="#servicesAccordion">
      <div class="accordion-body">
        <div class="row">
          <div class="col">
            <p>{{this.intro}}</p>
            <ul>
            {{#each this.lists}}
            <li>{{this}}</li>
            {{/each}}
            </ul>
          </div>
          <div class="col">
        <img class="img-fluid" src="{{this.image}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}} 
</div>
  {{/if}}


{{#if data.packages}}
<div class="section-divider" id="packages"></div>
<div class="owl-theme owl-carousel owl-packages">
{{#each data.packages}}
  <div class="card">
   {{#if this.image}} 
  <img src="{{this.image}}" class="card-img-top" alt="...">
  {{/if}}
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.text}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">${{this.price}}</li>
    <li class="list-group-item">{{this.duration}}</li>
  </ul>
</div>
{{/each}}
</div>
{{/if}}